<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>วัดอุโมงค์ - Wat U Mong</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI="
    crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet" />
  <style>
    body {
      font-family: "Prompt", sans-serif;
    }
  </style>
</head>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.3"></script>
  <div class="container ">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border">
      <a class="navbar-brand" href="#">
        <i class="fas fa-gopuram"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">หน้าแรก
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ข่าวประชาสัมพันธ์</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              เกี่ยวกับวัด
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">ประวัติ</a>
              <a class="dropdown-item" href="#">ข้อมูลเจ้าอาวาส</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">แผนที่วัดอุโมงค์</a>
              <a class="dropdown-item" href="#">สถานที่สำคัญของวัด</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">สถานะ : ไม่ได้เชื่อมต่อ</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    <div class="row">
      <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://www.chiangmaijaao.com/wp-content/uploads/2018/11/45718465_2182584362016164_1342032372098400256_o-2.jpg" width="1140" class="d-block w-300"
                alt="..." />
            </div>
            <div class="carousel-item">
              <img src="https://sites.google.com/site/theiywthawthiy01/_/rsrc/1468323194447/sthan-thi-thxng-theiyw-ni-prathesthiy/wad-xumongkh-swn-phuthth-thrrm/1433237682-DSC0003JPG-o.jpg" width="1140" class="d-block w-300"
                alt="..." />
            </div>
            <div class="carousel-item">
              <img src="https://scontent-fbkk5-7.us-fbcdn.net/v1/t.1-48/1426l78O9684I4108ZPH0J4S8_842023153_K1DlXQOI5DHP/dskvvc.qpjhg.xmwo/w/data/914/914803-img.rgqkti.0.jpg" width="1140" class="d-block w-300"
                alt="..." />
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <nav class="mt-2">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
              aria-selected="true">ประชาสัมพันธ์</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
              aria-selected="false">กิจกรรม</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
              aria-selected="false">แหล่งความรู้</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <ul class="list-group">
              <li class="list-group-item"> - สำนักปฏิบัติธรรม วัดอุโมงค์สวนพุทธธรรม หรือ (ศูนย์ปฏิบัติธรรมนานาชาติ วัดอุโมงค์สวนพุทธธรรม) Wat Umongmeditation Center</li>
              <li class="list-group-item"> - ประกวดราคาการปรับปรุงและตกแต่งด้านหน้าอาคารบุญยง ว่องวานิช</li>
              <li class="list-group-item"> - ธรรมบรรยายเรื่อง "รู้ตื่น เบิกบาน ในการภาวนา"</li>
              <li class="list-group-item"> - นำแสวงธรรม นมัสการสังเวชนียสถาน นำโดย พระมหาวรพรต กิตฺติวโร</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <ul class="list-group">
              <li class="list-group-item"> - เชิญร่วมกิจกรรม ธรรมะในสวนฯ ตักบาตรสาธิต 9 มิถุนายน 62</li>
              <li class="list-group-item"> - ธรรมะในสวนฯ พฤษภาคม 62 – เปิดบันทึกลมหายใจ เจ้าชื่น สิโรรส</li>
              <li class="list-group-item"> - ดูหนังหาแก่นธรรม พฤษภาคม 2562 – คลี่ปริศนารูปถ่ายวิเวียน ไมเออร์</li>
              <li class="list-group-item"> - ธรรมะในสวน ตักบาตรสาธิต 10 กุมภาพันธ์ 2562</li>
              <li class="list-group-item"> - ธรรมะในสวน ตักบาตรสาธิต 13 มกราคม 2562</li>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <ul class="list-group">
              <li class="list-group-item"> - ดูหนังหาแก่นธรรม</li>
              <li class="list-group-item"> - ธรรมะในสวนตักบาตรสาธิต</li>
              <li class="list-group-item"> - แนะนำ</li>
            </ul>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="https://pbs.twimg.com/media/DqPphI8X0AI81Nb.jpg" height=230 alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title">(กิจกรรม) พระสงฆ์ปฎิบัติธรรม</h5>
                <p class="card-text">
                   - ธรรมะในพื้นที่วัดอุโมงค์ (ทุกวันอาทิตย์สัปดาห์ที่สองของเดือน) ขอเชิญร่วมเป็นเจ้าภาพปัฎิบัติธรรมในเดือนเกิด
                   – ร่วมกันทำวัตรสวดมนค์ / ฟังธรรมะบรรยาย /ตักบาตร...
                </p>
                <a href="#" class="btn btn-primary">รายละเอียด</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="http://files.thaischool.in.th/uppic/50101468/activity/50101468_3_20150724-214627.jpg" height=230 alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title">(กิจกรรม) เข้าค่ายทำกิจกรรมในวัด</h5>
                <p class="card-text">
                  - เข้าค่ายคุณธรรม-จริยธรรม ณ วัดอุโมงค์สวนพุทธธรรม ในวันที่ 27-29 สิงหาคม เพื่อจะได้สวดมนต์ แผ่เมตตา นั่งสมาธิ เดินจงกลม และกิจกรรมต่างๆ ในเวลาตอนเช้า .... 
                </p>
                <a href="#" class="btn btn-primary">รายละเอียด</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="https://www.tripgether.com/photos/shares/terr/terr2018/JULY/1DAY5CAFE/1/WATUMONG_W10.jpg" height=230 alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title">(กิจกรรม) ให้อาหารปลา ปล่อยสัตว์</h5>
                <p class="card-text">
                   - ครูอุษา ไชยนุรักษ์ ครูนพมาศ จันทร์ชู และ ตัวแทนคณะกรรมการร่วมพัฒนาโรงเรียน จำนวน 32 คน เข้าร่วมกิจกรรมปล่อยปลาเพื่อถวายเป็นพระราชกุศล ณ ...
                </p>
                <a href="#" class="btn btn-primary">รายละเอียด</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="fb-page" data-href="https://www.facebook.com/Watumong.Chiangmai" data-tabs="" data-width="" data-height="" data-small-header="false"
          data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/Watumong.Chiangmai" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/Watumong.Chiangmai">วัดอุโมงค์สวนพุทธธรรม จ.เชียงใหม่</a>
          </blockquote>
        </div>
      </div>
    </div><br>
    <h4><marquee direction="left">เว็บวัดอุโมงค์สวนพุทธธรรม - สถานะ ใช้งานได้ ตามปกติ !! </marquee></h4>
    <div class="footer border bg-light mt-3 rounded">
      <div class="row p-4">
        <div class="col-4">
          <h4>สถานที่สำคัญในวัด (แหล่ง)</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#">หอสมุดธรรมโฆษณ์</a>
            </li>
            <li>
              <a href="#">โรงภาพปริศนาธรรม</a>
            </li>
            <li>
              <a href="#">พิพิธภัณฑ์กลางแจ้ง</a>
            </li>
            <li>
              <a href="#">ช่องทางเข้าอุโมงค์</a>
            </li>
            <li>
              <a href="#">รูปพระโพธิสัตว์</a>
            </li>
          </ul>
        </div>
        <div class="col-4">
          <h4>อื่นๆ</h4>
          <ul class="list-unstyled">
            <li>
              <a href="#">ดูหนัง “The Red Turtle” (เต่าแดง)</a>
            </li>
            <li>
              <a href="#">ดูหนังหาแก่นธรรมคลี่ปริศนารูปถ่ายวิเวียน ไมเออร์</a>
            </li>
            <li>
              <a href="#">ดูหนังหาแก่นธรรมเรื่อง ชีวิตพิศวงของวอลเตอร์ มิตตี้</a>
            </li>
            <li>
              <a href="#">เชิญรวมกิจกรรม ธรรมะในสวน</a>
            </li>
          </ul>
        </div>
        <div class="col-4">
          &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fas fa-gopuram fa-4x"></i>
          <address>
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>วัดอุโมงค์ (สวนพุทธธรรม)</strong><br>
            <br /> เชียงใหม่, เลขที่ 135 หมู่ 10 ต.สุเทพ อ.เมือง จ.เชียงใหม่ 50200 <br>
            <p>โทร 053112123, โทรสาร 053112124</p>
          </address>
        </div>
      </div>
      <p class="p-3">&copy; สงวนสิทธิ์ 2019, เว็บพัฒนา วัดอุโมงค์ </p>
    </div>
  </div>
</body>

<body>
  <div class="footer border bg-light mt-5 rounded">
    <div class="row p-4">
      <div class="col-4">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</body>

<BODY background="http://www.nan2.go.th/images/image58/lithai.jpg"></BODY>

</html>